{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban Board</title>
	{% tailwind_css %}
</head>
<body>
    <div class="mt-8">
        <form action="" method="POST" class="bg-white p-6 shadow-lg rounded-lg max-w-md mx-auto">
            {% csrf_token %}
            <p>Are you sure you want to delete the item?</p>
            <a href="{{request.META.HTTP_REFERER}}"><button type="button">Go Back</button></a>
            <input type="submit" name="delete_task" value="Confirm" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md shadow-md cursor-pointer">
        </form><br>
    </div>
</body>
</html>