<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        {{ RegisterForm.non_field_errors }}
        <div>
            {{ RegisterForm.first_name.label_tag }} {{ RegisterForm.first_name }}
        </div>
        <div>
            {{ RegisterForm.last_name.label_tag }} {{ RegisterForm.last_name }}
        </div>
        <div>
            {{ RegisterForm.username.label_tag }} {{ RegisterForm.username }}
        </div>
        <div>
            {{ RegisterForm.password1.label_tag }} {{ RegisterForm.password1 }}
        </div>
        <div>
            {{ RegisterForm.password2.label_tag }} {{ RegisterForm.password2 }}
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>